* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbe2e9;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    height: 100vh;
}