* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbe2e9;
    height: 100vh;
}

#grid-container {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    width: 600px;
    height: 600px;
}